.wheel_section {
    display: inline-block;
    width: 60px;
    position: absolute;
    font-size: 20px;
}

.wheel_section_container {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    width: 60px;
}